:root {
  --branding-color: #3e8f7d;
  --second-branding-color: #f5285c;
  --background-color: #282727;
  --text-color: #888585;
  --hadding-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-color);
  padding: 100px 20px;
  font-family: var(--default-font-family);
  width: 90%;
}

h1 {
  color: #ffffff;
  text-align: left;
  font-family: var(--hadding-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1;
}
h2 {
  font-size: 64px;
  color: var(--text-color);
}
h3 {
  color: var(--text-color);
  text-align: left;
  font-family: var(--default-font-family);
  font-size: 20px;
  font-weight: normal;
}
h6 {
  color: var(--text-color);
  font-size: 12px;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: white;
}

.btn-branding {
  background: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.text {
  padding-top: 80px;
}

.fa-t {
  color: var(--branding-color);
}
.fa-a {
  color: var(--second-branding-color);
}
.project-description {
  padding: 120px 60px;
}
.btn-branding-outline {
  background: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.logo {
  color: white;
  padding-bottom: 270px;
}
.my-name {
  color: var(--branding-color);
}
.nav-link {
  color: var(--text-color);
}
.tanya {
  border-radius: 4px;
  border: 2px solid var(--branding-color);
}
.ta {
  color: var(--second-branding-color);
}
.navbar {
  border-right: 0.5px solid white;
  height: 100%;
  margin-right: 0px;
  padding-right: 0px;
}
.about-section {
  padding: 10px;
}
.about-section h1 {
  font-size: 44px;
  line-height: 1;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section-content {
  margin: 30px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  body {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
} ;
